.app__admin {
    display: flex;
    justify-content: flex-start;
    margin-top: 8rem;
    color: black;
    flex-direction: row;
    gap: 2rem;
    
}

.app__admin-sideber {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 30rem;
    padding: 0px 2rem;
    background:  linear-gradient(180deg, #1f242d, #323946),
                 linear-gradient(to right, #1f242d, transparent);
    min-height: 80vh;
    margin-bottom: -1.5rem;
    padding-left: 11rem;
}

.app__admin-sideber h3 {
    margin: 3rem auto;
    color: #fff;
    font-size: 2.7rem;
}

.app__admin-content_all {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.app__admin-content {
    width: 75%;
}

.app_admin-content_all-box {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.app__admin-content_all h3 {
    margin: 2rem auto;
    color: #fff;
    font-size: 3.6rem;
    font-weight: 300;
}

.app_admin-content_all-box_item {
    width: 100%;
}

.app_admin-content_all-box_item h5 {
    font-size: 2rem;
    color: #fff;
    font-weight: 300;
    margin: 1rem 2rem;
}

.app_admin-content_all-box_item p {
    font-size: 1.5rem;
    color: #FFF;
    margin-right: 1rem;
}


.app__message-btn {
    background: transparent;
    font-size: 1.6rem;
    margin: 0.5rem 0.2rem;
    padding: 4px 12px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}
.show_more-btn {
    background: #0ccf9e;
}

.delete-btn {
    background: #f92e2e;
}

/* table {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

tr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

thead, tbody {
    width: 100%;
} */


@media screen and (min-width: 2000px) {
    
}

@media screen and (max-width: 1000px) {
    .app__admin-sideber {
        padding-left: 1rem;
    }
    
}


@media screen and (max-width: 750px) {
    .app__admin-sideber {
        min-width: 20rem;
        padding-left: 0;
    }

    .app__admin-sideber h3 {
        font-size: 2rem;
        margin: 1rem auto;
    }

    .app_admin-content_all-box_item h5 {
        font-size: 1.5rem;
        font-weight: 300;
        margin: .5rem .5rem;
    }

    .app__admin-sideber .app__btn {
        font-size: 1rem;
    }

    .app__admin-content_all h3 {
        margin: 1rem auto;
        font-size: 2rem;
    }
}